<!DOCTYPE html>
<html>
<head>
  <title>Instavention</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="header-content">
      <h1><%= link_to "#instavention", photos_path %></h1>
      <% if current_user %>
        <div class="greeting">
          <span><%= link_to "Hello, #{current_user.instagram_username}!", photos_path %> | <%= link_to "Log Out?", session_path, :method => :delete %></span>
          <% unless current_user.instagram_profile.nil? %>
            <%= image_tag current_user.instagram_profile, :id => "profile-picture" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </header>
  <div class="container">

    <%= yield %>

  </div>
</body>
</html>
