<!DOCTYPE html>
<html>
<head>
  <title>Instavention</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= link_to "#instavention", photos_path %></h1>
    <% if session[:access_token] %>
      <%= button_to "Log Out", session_path, :method => :delete, :class => "btn btn-danger btn-large log-in" %>
    <% end %>
  </header>
  <div class="container">

    <%= yield %>

  </div>
</body>
</html>
